*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}
p{
    font-size: 200px;
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}
button{
    padding: 22px 80px;
    background-color: rgb(54, 99, 196);
    border: none;
    color: aliceblue;
    font-size: 50px;

}
.buttons{
    display: flex;
    gap: 20px;
}